@{
    ViewData["Title"] = "Contacto";
}
<section id=" contacto">
   <h1>Contacto</h1>
<p>Si querés ponerte en contacto conmigo, podés hacerlo por email o redes profesionales.</p>


<p>
    <strong> gmail</strong>
    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=agustinquinteros84@gmail.com&su=Oportunidad%20Laboral%20-%20Desarrollador%20Full%20Stack&body=Hola%20Agustín,%0D%0AMi%20nombre%20es..."
       target="_blank">
        agustinquinteros84@gmail.com
    </a>

</p>

<p>
    <strong>WhatsApp:</strong>
    <a href="https://wa.me/541133509594" target="_blank">
        +54 1133509594
    </a>
</p>

<p>
    <strong>LinkedIn:</strong>
    <a href="https://www.linkedin.com/in/agustin-quinteros-serra-7a2a95251/" target="_blank">
        linkedin.com/in/agustin-quinteros-serra
    </a>
</p>

<p>
    <strong>GitHub:</strong>
    <a href="https://github.com/agustinQuinteros2030" target="_blank">
        github.com/agustinQuinteros2030
    </a>
</p>
</section>