@{
    ViewData["Title"] = "Home Page";
}

<header class="container mt-5">
    <h1 class="mb-3">Agustín Quinteros Serra / Desarrollador Full Stack</h1>

    <img src="~/Img/imagenPerfil.jpeg"
         alt="Foto de Agustín Quinteros Serra"
         class="img-fluid rounded-circle mb-4"
         style="width: 200px; height: 200px;">

    <section class="mb-4" id="sobreMi">
        <h2>Sobre mí</h2>
        <p>
            Soy Agustín, desarrollador full stack .
        <p>
            Soy proactivo, responsable y disfruto trabajar en equipo, siempre con ganas de aprender y afrontar nuevos desafíos.
        </p>
    </section>

    <section>
        <h2>Objetivos</h2>
        <p>
            Busco formar parte de un equipo de trabajo y consolidarme profesionalmente en una empresa
            donde los logros personales y el desempeño sean reconocidos,
            además de permitir oportunidades de desarrollo personal y profesional.
        </p>
    </section>

    <section>
       <h2>Educacion</h2>

       <h4>Instituto Tecnologico Ort  (2023 - Actualidad) </h4>
       <p>estoy cursando actualmente el segundo año de la carrera de Analista De Sistemas </p>

       <h4>Instituto Parroquial Cristo Obrero (2014-2019 ) </h4>
       <p>Bachiller en humanidades y ciencias Sociales </p>
      
    </section>

    <section>

        <h2>Conocimientos</h2>

        <ul>
            <li>Lenguajes: C#, JavaScript, HTML, CSS,Java</li>
            <li>Frameworks: .NET, ASP.NET Core, Entity Framework,IdentityEntity Framework, React,</li>
            <li>Bases de datos: SQL Server, MySQL</li>
            <li>Control de versiones: Git</li>
            <li>Metodologías ágiles: Scrum, Kanban</li>

        </ul>
    </section>


</header>
