@{
    ViewData["Title"] = "Proyectos";
}
<section id="proyectos" class="container my-5">
    <h1 class="mb-4 text-center">Mis Proyectos</h1>
    <div class="row g-4">

        <!-- Proyecto 1 -->
        <div class="col-md-4">
            <div class="card h-100 shadow-sm text-center project-card">
                <h5 class="mt-3 project-title">Foro de Debate</h5>
                <div class="project-image-container position-relative">
                    <img src="~/Img/foro.png" class="img-fluid project-img" alt="Foro de Debate">
                    <div class="project-overlay d-flex align-items-center justify-content-center gap-2">
                        <a href="https://github.com/agustinQuinteros2030/proyecto-foro.net.git" target="_blank" class="btn btn-primary btn-sm">GitHub</a>
                    </div>
                </div>
                <div id="tecnologia">
                    <h6>Tecnologias</h6>
                    <ul>
                        <li><i class="bi bi-dot"></i> .NET</li>
                        <li><i class="bi bi-box-seam"></i> ASP.NET Core</li>
                        <li><i class="bi bi-database-fill"></i> MySQL</li>
                        <li><i class="bi bi-filetype-js"></i> JavaScript</li>
                        <li><i class="bi bi-filetype-html"></i> HTML</li>
                        <li><i class="bi bi-filetype-css"></i> CSS</li>
                        <li><i class="bi bi-bootstrap"></i> Bootstrap</li>
                   </ul>
       
                </div>
            </div>
        </div>

        <!-- Proyecto 2 -->
        <div class="col-md-4">
            <div class="card h-100 shadow-sm text-center project-card">
                <h5 class="mt-3 project-title">Portafolio Personal</h5>
                <div class="project-image-container position-relative">
                    <img src="~/Img/portafolio.png" class="img-fluid project-img" alt="Portafolio Personal">
                    <div class="project-overlay d-flex align-items-center justify-content-center gap-2">
                        <a href="https://github.com/agustinQuinteros2030/Portafolio-Agustin-Quinteros.git" target="_blank" class="btn btn-primary btn-sm">GitHub</a>
                     
                    </div>
                </div>
                <div id="tecnologia">
                    <h6>Tecnologias</h6>
                    <ul>
                        <li><i class="bi bi-dot"></i> .NET</li>
                        <li><i class="bi bi-box-seam"></i> ASP.NET Core</li>
                        <li><i class="bi bi-filetype-js"></i> JavaScript</li>
                        <li><i class="bi bi-filetype-html"></i> HTML</li>
                        <li><i class="bi bi-filetype-css"></i> CSS</li>
                        <li><i class="bi bi-bootstrap"></i> Bootstrap</li>
                        <li><i class="bi bi-server"></i> Docker</li>
                    </ul>

                </div>
               
            </div>
        </div>

        <!-- Proyecto 3 -->
        <div class="col-md-4">
            <div class="card h-100 shadow-sm text-center project-card">
                <h5 class="mt-3 project-title">Fitness Cursos</h5>
                <div class="project-image-container position-relative">
                    <img src="~/Img/fitnessCursos.png" class="img-fluid project-img" alt="Fitness Cursos">
                    <div class="project-overlay d-flex align-items-center justify-content-center gap-2">
                        <a href="https://github.com/agustinQuinteros2030/fitnessCursos.git" target="_blank" class="btn btn-primary btn-sm">GitHub</a>
                        <a href="#" class="btn btn-outline-light btn-sm disabled">Demo</a>
                    </div>
                </div>
               
            </div>

            <div id="tecnologia">
                <h6>Tecnologias</h6>
                <ul>
                    <li><i class="bi bi-dot"></i> .NET</li>
                    <li><i class="bi bi-box-seam"></i> ASP.NET Core</li>
                    <li><i class="bi bi-filetype-js"></i> JavaScript</li>
                    <li><i class="bi bi-filetype-html"></i> HTML</li>
                    <li><i class="bi bi-filetype-css"></i> CSS</li>
                    <li><i class="bi bi-bootstrap"></i> Bootstrap</li>
                    <li><i class="bi bi-server"></i> Docker</li>
                </ul>

            </div>
        </div>

    </div>
</section>
